@import url(http://fonts.googleapis.com/css?family=Quicksand:700);
body {
	margin-top: 120px;
/*	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: 'Quicksand', sans-serif;
}

p {
	color: #777;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul li {
	margin-bottom: 5px;
}


/* *************************************
* *************** Header ***************
* ************************************ */
#main-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
    background-color: #EB7C1C;
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
	-moz-box-shadow: 0 1px 5px #000;
	-webkit-box-shadow: 0 1px 5px #000;
	box-shadow: 0 1px 5px #000;
}

#main-logo {
	background: url(../img/logo.jpg);
	background-size: 100% 100%;
	padding: 60px;
	margin: 0;
}
/* *************************************
* *********** Main Navigation **********
* ************************************ */
#main-menu {
	float:right;

}

#main-menu a {
	color: #fff;
	font-weight: bolder;
}

#main-menu a:hover {
	color: #444444;
}

#main-menu.nav-pills>li>a
{
	background: none;
}


#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover {
	background: none;
	color: #444444;
}

/*#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus {
	color: #444444;
}*/

.dropdown-menu > li > a{
  background-color: #fff;
  color:#F27E27 !important;
}

.dropdown-menu > li > a:hover{
	background-color: #F27E27;
	color:#fff !important;
}

.btn-custom {
	border: 0;
	border-radius: 2px;

	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
}